<div class="page-wrapper">
  <div class="home-shell">

    <app-home-header></app-home-header>

    <main class="hero">
      <h2 class="hero-title">{{'home.heroTitle'| translate}}</h2>
      <p class="hero-subtitle">
        {{'home.heroSubtitle'| translate}}
      </p>

      <section class="role-cards">
        <app-role-card
          roleType="owner"
          title="{{ 'home.registerOwnerTitle' | translate }}"
          description="{{ 'home.registerOwnerText' | translate }}"
          (click)="irARegistroDueno()">
        </app-role-card>

        <app-role-card
          roleType="worker"
          title="{{ 'home.registerWorkerTitle' | translate }}"
          description="{{ 'home.registerWorkerText' | translate }}"
          (click)="irARegistroTrabajador()">
        </app-role-card>
      </section>

    </main>

  </div>
</div>
